---
name: Workflow linter

on:
  pull_request:
    paths:
      - .github/workflows/**

permissions: read-all

jobs:
  call-workflow:
    uses: bitwarden/gh-actions/.github/workflows/workflow-linter.yml@62d1bf7c3e31c458cc7236b1e69a475d235cd78f
    permissions:
      contents: read
      checks: write
      pull-requests: write
